%right-pane-base {
  background-color: rgba(247, 249, 250, 1);
  border: solid rgba(205,208,209,1.00);
  border-width: 0 0 0 1px;
}

.right-pane-expand {
  @extend %right-pane-base;
  -moz-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  position: relative;
  margin: 0 0 0 -100px;
}
.right-pane-normal {
  @extend %right-pane-base;
  -moz-transition: margin 0.3s;
  -ms-transition: margin 0.3s;
  -o-transition: margin 0.3s;
  -webkit-transition: margin 0.3s;
  transition: margin 0.3s;
  position: relative;
  margin: 0 0 0 0;
}

.expander:hover {
  background-color: rgba(205, 208, 209, 0.31);
}
